body {
    background-image: url(./img/hardware.png)
}
.title {
    opacity: 100%;
    text-align: center;
    font-family: 'Redaction_50-Regular';
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    outline:groove;
}
.foreground{
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    background-image: url(./img/main.gif);
    font-family: dosfont;
}

.marquee{
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.lastfm{
    margin: 2.5%;
    background-image: url(./img/main.gif);
}

a{
    color: red;
}

a:link{
    color:lightblue;
}

#mk-juke{
    margin: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#jukebox_title{
    margin-left: 25%;
    margin-right: 25%;
    font-family: calculator;
    color: #2fff3e;
    background-color: black;
    vertical-align: middle;
    font-size: 25px;
    height: 30px;
}

@font-face{
    font-family: "Redaction_50-Regular";
    src: url(./Redaction_50-Regular.ttf);
}
@font-face{
    font-family: "dosfont";
    src: url(./OffBit-DotBold.ttf);
}
@font-face{
    font-family: "calculator";
    src: url(./Calculator.ttf);
}